<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div id="talk" name="talk"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.4.0/annyang.min.js"></script>
<script>
//https://www.talater.com/annyang/
//https://github.com/TalAter/SpeechKITT
//https://github.com/TalAter/annyang/blob/master/docs/README.md
window.onload = function() {
    if (annyang) {
        var commands = {
            '일어나 :userName야': function(userName) {
                alert(userName + ' 일어났습니다.');
            },
            '*talk': function(talk) {
                //console.log(talk);
                $("#talk").text(talk);

            }
        };
        annyang.setLanguage("ko");
        annyang.addCommands(commands);
        annyang.debug(true);
        annyang.start();
    }
}
</script>

</html>
