<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div><img src="/static/img/princess.jpg"></div>
    <div id="talk" name="talk"></div>
    <iframe id="youtubeDiv" name="youtubeDiv" onerror="console.log('error iframe')">

    </iframe>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/annyang/2.5.0/annyang.min.js"></script>
<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
<script>
//https://www.talater.com/annyang/
//https://github.com/TalAter/SpeechKITT
//https://github.com/TalAter/annyang/blob/master/docs/README.md
function call_tts(text) {
    $("#talk").text(text);
    var parameters = {
        onstart: startTTSCallback,
        onend: voiceEndCallback
    }
    responsiveVoice.speak(text, "Korean Female", parameters);
}

function startTTSCallback() {
    console.log("startTTS");
    //annyang.pause();
}

function voiceEndCallback() {
    setInterval(function() {
        //annyang.resume();
    }, 2000);
    console.log("endTTS");
}

function showYouTube(title) {
    var url = "youtube.json";

    $.ajax({
        url: url,
        dataType: 'json',
        data: {'text' : title},
        success: function(data) {
            var items = data.items;
            $("#youtubeDiv")[0].src = "http://www.youtube.com/embed/"+data.items[0]["id"].videoId+"?autoplay=1&origin=http://127.0.0.1";
        }
    });
}

function ledControl(status) {
    var url;
    if (status == true) {
        url = "/ledon.json"
    } else {
        url = "/ledoff.json"
    }
    $.ajax({
        url: url,
        dataType: 'json',
        data: {},
        success: function(data) {
            if (data.txt) {
                call_tts(data.txt);
            }
        }
    });
}

function getLotto() {
    var lotto = new Array(6);
    var count = 0;
    var mFlag = true;
    while (count < 6) {
        var number;
        number = parseInt(Math.random() * 45) + 1
        for (var i = 0; i < count; i++)
            if (lotto[i] == number) mFlag = false;
        if (mFlag) {
            lotto[count] = number;
            count++;
        }
        mFlag = true;
    }
    // 추첨된 로또번호 출력
    return (lotto[0] + '번 ' + lotto[1] + '번 ' + lotto[2] + '번 ' + lotto[3] + '번 ' + lotto[4] + '번 ' + lotto[5] + "번");
}

window.onload = function() {
    if (annyang) {
        var commandsDefault = {
            '*talk': function(talk) {
                call_tts(talk);
            }
        };
        var commands = {
            '거울아 :userName 보여줘': function(userName) {
                call_tts(userName + ' 일어났습니다.');
            },
            '거울아 :title 동영상 보여 줘': function(title) {
                //call_tts(title + ' 동영상을 유부트에서 검색합니다.');
                showYouTube(title);
            },
            '야 불 켜': function() {
                //call_tts("야 불 켜");
                ledControl(true);
            },
            '야 불 꺼': function() {
                //call_tts("야 불 꺼");
                ledControl(false);
            },
            '야 돈 줘': function() {
                call_tts("대박 나세요 " + getLotto());
            }
        };
        //annyang.setLanguage("en-US");
        annyang.setLanguage("ko");
        //annyang.addCommands(commandsDefault);
        annyang.addCommands(commands);
        annyang.debug(true);
        annyang.addCallback('resultNoMatch', function(userSaid) {
            $("#talk").text(userSaid);
            console.log("userSaid : " + userSaid); // sample output: 'hello'
        });
        annyang.start({
        });
    }
}
</script>

</html>
